echo "10 * * * *  bash -c 'PATH=$PATH /usr/local/bin/python /app/update_db.py > /logs/update_db.log 2>&1'
30 13 * * * bash -c '/usr/local/bin/python /app/report.py >> /logs/report.log 2>&1'
# * * * * * /usr/local/bin/python -c "'"'"print('hello hello')"'"'" >> /logs/du.log 2>&1" | crontab -u root -